/* Body */
body {
     font-family: Nunito, sans-serif;
     margin: 0;
     display: block;
     color: #141B41;
     background-color: #D8E1E9;
}



/* nav */
.nav {
  margin: 0;
  background-color: #141B41;
  overflow: auto;
}

.nav .nav-content {
    width: 900px;
    margin: 0 auto;
    display: block;
}

.nav a {
  float: left;
  color: #B3C5D7;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
  border-radius: 15px;
    cursor: default;
    margin: 0 1vw;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #7392B7;
  color: #FCFAFA;
}

.nav a:hover {
  color: #FCFAFA;
}


/* pagination */
.pagination {
    text-align: center;
    padding: 20px;
    margin: 1vh;
}


/* Footer */
.footer {
    background-color: #7392B7;
    color: #C5D5EA;
    padding: 20px;
    margin: 10vh 0 0;
}


/* Date */
.date {
    text-align: right;
    font-size: 14px;
    color: #7392B7;
    margin: 0px;
    margin-right: 10%;
}


/* Service */
.service {
    margin: 5%;
}

/* Button */
.button {
    color: #D8E1E9;
    background-color: #759EB8;
    width: 250px;
    margin: 3%;
    font-size: 30px;
    line-height: 30px;
    padding: 11px;
    border-radius: 980px;
    border: 0;
    box-shadow: 0px 15px 10px -5px #7392B7;
    transition: 0.3s;
}

.button:hover {
    background: #94B3C7;
    color: #D8E1E9;
}

.button:active {
    background: #7392B7;
    box-shadow: 0px 8px 11px 1px #6986A8;
    transition: 0.1s;
}

/* Content */
.content {
    max-width: 900px;
    margin: auto;
}

.tb-margin {
    margin: 3% 0;
}


/* News */
.news {
    margin-left: 3%;
    margin-right: 3%;
}

.news-block {
    text-decoration: none;
    color: #141B41;

}
.preview {
transition: 0.2s;
    margin: 1vh;
}
.preview:hover {
    transition: 0.2s;
    border-radius: 12px;
    box-shadow: 0px 6px 11px 2px #6986A8;
    padding: 0 1vh 2vh 1vh;
    margin: 0;

}
.preview:active {
    transition: 0.2s;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #6986A8;
    padding: 0 1vh 2vh 1vh;
    margin: 0;
    background-color: #CBD7E2;
}

/* profile orders preview*/
.preview-orders {
    transition: 0.2s;
    margin: 1vh;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #6986A8;
    padding: 0 1vh 2vh 1vh;

}
.preview-orders:hover {
    transition: 0.2s;
    border-radius: 12px;
    box-shadow: 0px 6px 11px 2px #6986A8;
    padding: 0 1vh 2vh 1vh;
    margin: 0;
    background-color: #CBD7E2;
}

.article {
    margin: 1% 5% 0;

}

/* input */
.input-textbox {
    border: 1px solid #B3C5D7;
    border-radius: 6px;
    font-size: 20px;
    padding: 1vh;
    margin: 10px;
    width: 30vw;
    min-width: 350px;
    font-family: Nunito, sans-serif;
}

.input-textbox:focus-visible {
    outline: none;
    border: 2px solid #799FB9;
}

.input-textbox-90{
    width: 90%;
    font-family: Nunito, sans-serif;
}

/* hr Horizontal Line */
hr {
    color: #012622;
    background-color: #012622;
    height: 0.4px;
    border-style: solid;
}

/* a tag */
a {
    text-decoration: none;
    color: #759EB8;
}

/* comment */
.comment {
    border-radius: 12px;
    box-shadow: 0px 6px 11px 2px #6986A8;
    padding: 1vh 2vh;
    margin: 2.5vh 1vw;
}

/* add-comments */
.add-comments {
    border-radius: 12px;
    box-shadow: 0px 3px 5px 1px #6986A8;
    padding: 1vh 2vh;
    margin: 2.5vh 1vw;
}

/* 4 rows */
.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
