{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/make_order.css' %}" type="text/css" />

    <div class="info">
        <H1>{{ service_data.name }}</H1>
        <div class="text">{{ service_data.text|linebreaks }}</div>
        <p class="price">Prise from {{ service_data.price }}$</p>
    </div>

    <div class="order-form">
        <form method="post">
        {% csrf_token %}

        {% for f in form %}
            <p>{{ f }}</p>
            <p> {{ f.errors }}</p>
        {% endfor %}
        <div class="button-center">
            <button class="button" type="submit">Make Order</button>
        </div>

    </form>
    </div>


{% endblock %}
