{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/make_order.css' %}" type="text/css" />

    <div class="info">
        <H1>{{ service_data.name }}</H1>
        <div class="text">{{ service_data.text|linebreaks }}</div>
        <p class="price">Prise from {{ service_data.price }}$</p>
    </div>

    <div class="order-form">
        <form method="post">
            {% csrf_token %}

            {% for order in order_form %}
                <p>{{ order }}</p>
                <p> {{ order.errors }}</p>
            {% endfor %}
            <div class="button-center">
                <button class="button button-main" name="order_button" type="submit">Make Order</button>
            </div>
        </form>
    </div>

    <div class="question-form">
        <h1 style="text-align: center;">You have a question?</h1>
        <form method="post">
            {% csrf_token %}

            {% for question in question_form %}
                <p>{{ question }}</p>
                <p> {{ question.errors }}</p>
            {% endfor %}
            <div class="button-center">
                <button class="button" name="question_button" type="submit">Ask</button>
            </div>
        </form>
    </div>


{% endblock %}
