{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/order.css' %}" type="text/css" />

    <div class="order-info">
        <div class="header">
            <h1>{{ title }}</h1>
            <p>{{order_data.get_kanban_type_display}}</p>
        </div>

        <div class="order-data">{{order_data.text|linebreaks}}</div>

        <div class="row2">
            <p>Executor: {{order_data.executor.username}}</p>
            <p>Customer: {{order_data.customer.username}}</p>
        </div>
        <div class="row2" style="float: right">
            <p class="date">{{order_data.data_start}}</p>
            <p class="date">{{order_data.data_end}}</p>
        </div>
    </div>



    {% if request.user.is_staff %}
    <hr>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>{{ kanban_form.kanban_type }}<button class="button little-button" type="submit">Change</button></p>
            <p> {{ kanban_form.errors }}</p>
        </form>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>{{ executor_form.executor }}<button class="button little-button" type="submit">Change</button></p>
            <p> {{ executor_form.errors }}</p>
        </form>
    </div>
    <hr>
    {% endif %}


    <div class="add-comments">
        <form method="post">
            {% csrf_token %}
            <div>{{ comment_form.text }}</div>
            <p> {{ comment_form.errors }}</p>
            <button class="button comment-button button-main" type="submit">Comment</button>

        </form>
    </div>

    <div class="comments">
        {% for comment in comments_data %}
            <div class="{% if request.user == comment.author %}my-comment{% else %}comment{% endif %}">
                <p class="text">{{ comment.text }}</p>
                <p class="author row2">{{ comment.author.username }}</p>
                <p class="date row2">{{ comment.datetime|date:"F, j, G:i" }}</p>
            </div>


        {% endfor %}
    </div>
<div></div>

{% endblock %}