{% extends 'news/base.html' %}

{% block content %}
    <div class="tb-margin">
        <H1>{{ service_data.name }}</H1>
        <p>{{ service_data.text }}</p>
        <p class="date">Average order waiting time is {{ service_data.run_time }}</p>
    </div>
    <div class="order_input">
        <form action="/order">
            <label for="name">Name:</label><br>
            <input class="input-textbox" type="text" id="name" name="name" required autofocus placeholder="Enter your name"><br>
            <label for="description">Text:</label><br>
            <textarea class="input-textbox" rows = "10" cols = "50" name = "description" required placeholder="Describe your order"></textarea><br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}