{% extends 'base.html' %}

{% block content %}


<!-- is { if request.user.is_authenticated } secure??????????????? -->
<!-- and i find a bug. {+% in comments raise

emplateSyntaxError at /news/add_news
Invalid block tag on line 32: 'endblock', expected 'elif', 'else' or 'endif'. Did you forget to register or load this tag?

-->
<!-- I already use @login_required in the views.py but this question is still relevant -->
{% if request.user.is_staff %}

    <div class="header">
        <h1>Create news</h1>
    </div>

    <form action="{% url 'add_news' %}" method="post">
        {% csrf_token %}

        {% for f in form %}
            <p>{{ f.label }}:</p>
            <p>{{ f }}</p>
            <p> {{ f.errors }}</p>
        {% endfor %}
        <button class="button" type="submit">Add News</button>
    </form>
{% endif %}

{% endblock %}
