
{% extends 'base.html' %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}" type="text/css" />


    <div class="news">
        {% for n in news %}
            <a class="news-block" href="{{ n.get_absolute_url }}">
                <div class="preview">
                    <h1>{{ n.title }}</h1>

                    <div class="article">{{ n.text|linebreaksbr|truncatewords:79 }}</div>
                    <div class="article-info">
                        <p class="row2">
                            {% load static %}
                            <img src="{% static 'news/images/unlike.png' %}"  alt="Flowers in Chania" width="24" height="24">
                            <span style="padding: 0 10px;">{{ n.users_who_liked.all.count }}</span>
                        </p>
                        <p class="date row2">{{ n.datetime }}</p>
                    </div>
                </div>
            </a>

        {% endfor %}

    </div>

{% endblock %}
